* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
}
.header {
  min-height: 100vh;
  padding-top: 5.875rem;
}
.header-image {
  background-image: url("../img/header-bg.jpeg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(41, 45, 51, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}
.navbar {
  display: flex;
  align-items: center;
  /* background-color: #1b1b1b; */
  color: #fff;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  height: 5.875rem;
  width: 100%;
  left: 0;
  top: 0;
  transition: background-color, 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: rgb(41, 45, 51);
}
.navbar-light .header-logo-path {
  fill: rgb(41, 45, 51);
}
.navbar-light .logo-link {
  padding: 1.5625rem 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 3.125rem;
  margin: 0;
}

.header-nav-item:not(:last-child) {
  margin-right: 5%;
}

.header-item-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  text-decoration: none;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  margin-right: 50px;
}
.button {
  padding: 1.5625rem 3.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: rgb(92, 142, 230);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-button {
  height: 100%;
}
.seporator {
  width: 9.375rem;
  height: 0.125rem;
  background-color: rgb(92, 142, 230);
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue Regular";
  font-size: 5rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin: 1.875rem 0;
}
.header-text {
  max-width: 45rem;
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 3.125rem;
}

.header-features {
  display: flex;
  min-height: 9.375rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: rgb(255, 255, 255);
  position: relative;
}
.header-features-item {
  padding: 1.875rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
/* ======================================================================= */
.section-light {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.section-title {
  color: rgb(41, 45, 51);
  font-family: "Bebas Neue Regular";
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.steps-list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}
.steps-item {
  max-width: 20.625rem;
}
.steps-num {
  color: rgb(92, 142, 230);
  font-family: "Bebas Neue Regular";
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 0.0625rem;
  /* sep */
  background-color: rgb(235, 235, 240);
  width: 100%;
  margin-left: 1.875rem;
}
.steps-title {
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}
.steps-text {
  /* p */
  color: rgb(130, 138, 153);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}
.steps-link {
  /* bold */
  color: rgb(92, 142, 230);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.steps-link::before {
  content: "";
  height: 0.0625rem;
  width: 2.5rem;
  background-color: rgb(92, 142, 230);
  margin-right: 1.25rem;
}
/* адаптив */
@media (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}
